#project_nav {
  margin: 0 0 10px 1px;
}

#project_nav a {
  text-decoration: none;
  background-color: #381392;
  border: 1px solid #381392;
  color: white;
  padding: 2px 5px;
  margin-right: 5px;
}

#project_nav a:hover,
#project_nav a.active {
  color: #001092;
  background-color: white;
}

pre {
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 12px;
}
